.border{
    border: 2px solid red;
    margin:  3px;
}

.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}

.item-centre{
    align-items: center;
}
.invert{
    filter: invert(1);
}